<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Modificar ODT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item button [routerLink]="['/ej-odt']">ODT #0008</ion-item>
    <ion-item button [routerLink]="['/ej-odt']">ODT #0007</ion-item>
    <ion-item button [routerLink]="['/ej-odt']">ODT #0006</ion-item>
    <ion-item button [routerLink]="['/ej-odt']">ODT #0005</ion-item>
    <ion-item button [routerLink]="['/ej-odt']">ODT #0004</ion-item>
    <ion-item button [routerLink]="['/ej-odt']">ODT #0003</ion-item>
    <ion-item button [routerLink]="['/ej-odt']">ODT #0002</ion-item>
    <ion-item button [routerLink]="['/ej-odt']">ODT #0001</ion-item>
  </ion-list>

</ion-content>
