<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Eliminar ODT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item button id="open-modal">ODT #0008</ion-item>
  </ion-list>

  <ion-modal
    trigger="open-modal"
    [initialBreakpoint]="0.25"
    [breakpoints]="[0, 0.25, 0.5, 0.75]"
    handleBehavior="cycle"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>ODT eliminada</ion-title>
          <ion-buttons slot="end">
            <ion-button [routerLink]="['/home']" type="submit">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </ng-template>
  </ion-modal>

</ion-content>
