<ion-header>
  <ion-toolbar>
    <ion-title>ODTes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-img src="../assets/img/logo_transparent.png"></ion-img>
        <ion-button [routerLink]="['/login']" expand="block" color="primary">Ingreso</ion-button>
        <p></p>
        <p></p>
        <ion-button [routerLink]="['/registro']" expand="block" color="primary">Registro</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
